In [10]:
from getData import getData
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt

In [11]:
df = getData.createImageDf()
df

loading...it takes a sec
done

,filename,label,landscape,flat_arrays
0,12536.jpg,0,buildings,"[10, 6, 0, 86, 76, 51, 80, 61, 31, 85, 58, 41,..."
1,16750.jpg,0,buildings,"[80, 115, 171, 81, 116, 172, 81, 116, 172, 81,..."
2,16988.jpg,0,buildings,"[164, 184, 175, 158, 174, 164, 159, 174, 169, ..."
3,4571.jpg,0,buildings,"[186, 193, 203, 186, 193, 203, 185, 192, 202, ..."
4,12244.jpg,0,buildings,"[118, 126, 89, 99, 106, 75, 125, 127, 105, 132..."
...,...,...,...,...
14029,14638.jpg,5,street,"[1, 12, 0, 9, 13, 16, 14, 12, 17, 22, 12, 0, 2..."
14030,15526.jpg,5,street,"[123, 116, 123, 127, 118, 123, 146, 134, 134, ..."
14031,18002.jpg,5,street,"[73, 96, 130, 118, 142, 170, 97, 113, 147, 149..."
14032,10338.jpg,5,street,"[18, 57, 98, 42, 74, 112, 22, 46, 80, 20, 47, ..."
14033,8434.jpg,5,street,"[133, 133, 125, 89, 86, 79, 92, 89, 82, 130, 1..."